TELEGRAM_TOKEN= telegram token
TELEGRAM_CHAT_ID= telegram id

SECRET_KEY= secret key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

DB_NAME= db name
DB_USER= db user name
DB_PASSWORD=db pass
DB_HOST= ip
DB_PORT= db port

MAIL_USERNAME= mail name
MAIL_PASSWORD= mail code
MAIL_FROM= mail from gmail