ultralytics
torch
torchvision
fastapi
uvicorn
python-multipart
psycopg2-binary
opencv-python-headless
numpy
onnx
onnxruntime
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
PyJWT==2.8.0
python-jose[cryptography]
email-validator
slowapi
